####################################
# R / RStudio
####################################
.Rproj.user/
.Rhistory
.RData
.Ruserdata

####################################
# System files
####################################
.DS_Store



####################################
# Temporary files
####################################
*.tmp
*.bak
*.swp
